@mixin configMenu-theme ($theme: 'dark') {
  $is-dark: if($theme == 'dark', true, false);

  $card: if($is-dark,
    $background-color-config-dark,
    $background-color-config-light);
  $elements: if($is-dark,
    $background-color-config-elements-dark,
    $background-color-config-elements-light);
  
  #configMenuContainer {
    button img {
        filter: if($is-dark, invert(1), invert(0))
      }
    
    #configMenu {
      @include cardStyle($card);
      opacity: 1;
      select {
        border: 2px solid if($is-dark, white, black);
        background-color: $elements;
      }
    }
  }
}

@each $theme in ('dark', 'light') {
  @include applyThemes($theme) {
    @include configMenu-theme($theme);
  }
}

// STYLES ------------------------

#configMenuContainer {
  z-index: 5000;
  position: fixed;
  right: 5px;
  top: 10px;
  
  button {
    margin-top: 4px;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    
    img {
      width: 35px;
    }
  }
  
  #configMenu {
    transform-origin: top;
    font-weight: 600;
    line-height: 1;
    @include flexConfig(column, end, center, 10px);
    position: absolute;
    inset: 70px 10px auto auto;
    width: max-content;
    transition: opacity 0.9s ease;

    p {
      margin: 0;
    }
    select {
      font-weight: 600;
      border-radius: 7px;
      padding: 10px;
      -webkit-appearance: none;
      appearance: none;

      &:focus {
        outline: 2px solid blue;
      }
    }
  }
}
