// MIXINS THEMES ----------------------------

@mixin light-theme {
    #contactFormModal {
    background-color: $background-color-card-light;
    form {
      background-color: $background-color-card-light;
      border: 2px solid black;
      input {
        background-color: rgba(112, 128, 144, 0);
        border: 0;
        border-bottom: 2px solid black;
        color: black;
        &[type='date']::-webkit-calendar-picker-indicator {
          color-scheme: light;
        }
      }
    }
  }
}

@mixin dark-theme {
    #contactFormModal {
    background-color: $background-color-card-dark;
    form {
      background-color: $background-color-card-dark;
      border: 2px solid white;
      input {
        background-color: rgba(0, 0, 0, 0);
        border: 0;
        border-bottom: 2px solid rgb(255, 255, 255);
        color: white;
        &[type='date']::-webkit-calendar-picker-indicator {
          color-scheme: dark;
        }
      }
    }
  }
}

@media (prefers-color-scheme: light) {
  @include light-theme
}
@media (prefers-color-scheme: dark) {
  @include dark-theme
}

[data-theme='light'] {
  @include light-theme
}

[data-theme='dark'] {
  @include dark-theme;
}

// STYLES ----------------------------------------

#contactFormModal {
  -webkit-appearance: none;
  appearance: none;
  z-index: 3000;
  position: fixed;
  width: 100dvw;
  height: 100dvh;

  display: flex;
  align-items: center;
  flex-grow: 1;

  // background-color: $background-color-card;
  font-weight: 700;
  backdrop-filter: blur(5px);

  form {
    z-index: 3001;
    display: flex;
    flex-direction: column;
    width: 40dvw;
    max-height: 90dvh;
    padding: 50px;
    gap: 10px;
    align-items: center;
    
    overflow-y: auto;

    // background-color: $background-color-card;
    backdrop-filter: blur(2px);
    // border: 2px solid white;
    border-radius: 20px;

    position: relative;
    @include autoCenter;
    
    input, label, button {
      width: 90%;
    }

    label {
      text-align: start;
      font-size: 1.5em;
    }

    input {
      margin-bottom: 15px;
      padding: 8px 5px;
      font-size: 1em;
      &:focus {
        border: none;
        outline: none;
        border-bottom: 2px solid blue;
      }
      &:active {
        outline: none;
        border: none;
      }
    }

    button {
      background-color: rgb(48, 133, 214);
      border: 0;
      color: white;
      border-radius: 10px;
      padding: 2px 0;
      font-size: 1.5em;
      font-weight: 600;
      font-family: inherit;
      cursor: pointer;
      margin: 10px 0;
      &:disabled {
        background-color: rgba(33, 72, 245, 0.075);
      }
      &:focus {
        border: none;
        outline: 3px solid blue;
      }
      &:active {
        border: none;
        outline: 3px solid blue;
      }
    }
    
    .closeModalButton {
      background-color: rgb(221, 51, 51);

    }
    
  }
}



@include media-query-first-breakpoint {

  #contactFormModal {
    form {
      width: 60dvw;
    }
  }
}

@include media-query-second-breakpoint {
  #contactFormModal {
    form {
      width: 70dvw;
    }
  }
}
