@mixin dark-theme {
  #configMenuContainer {
    button img {
        filter: invert(1)
      }
    
    #configMenu {
      @include cardStyle($background-color-config-dark);
      opacity: 1;
      select {
        border: 2px solid white;
        background-color: black;
      }
    }
  }
}

@mixin light-theme {
  #configMenuContainer {
    button img {
        filter: invert(0)
      }
    
    #configMenu {
      @include cardStyle($background-color-config-light);
      opacity: 1;
      select {
        border: 2px solid black;
        background-color: white;
      }
    }
  }
}

@media (prefers-color-scheme: light) {
  @include light-theme
}
@media (prefers-color-scheme: dark) {
  @include dark-theme
}

[data-theme='light'] {
  @include light-theme
}

[data-theme='dark'] {
  @include dark-theme;
}

#configMenuContainer {
  
  margin-right: calc(15px + env(safe-area-inset-right));
  position: relative;
  
  button {
    margin-top: 4px;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    @include imgShadow;
    
    img {
      width: 40px;
    }
  }
  
  #configMenu {
    transform-origin: top;
    font-weight: 600;
    line-height: 1;
    display: flex;
    flex-direction: column;
    // align-items: center;
    position: absolute;
    gap: 10px;
    right: 10px;
    top: 70px;
    width: max-content;
    transition: opacity 0.9s ease;

    p {
      margin: 0;
    }
    select {
      border: 2px solid white;
      background-color: black;
      border-radius: 7px;
      padding: 10px;

      &:focus {
        outline: 2px solid blue;
      }
    }
  }
}
