// THEMES ----------------------------

@mixin contactModal-theme ($theme: 'dark') {
  $card: if($theme == 'dark',
    $background-color-card-dark,
    $background-color-card-light);
  #contactFormModal {
    background-color: $card;
    form {
      background-color: $card;
      border: 2px solid if($theme == 'dark', white, black);
      input {
        border: 0;
        border-bottom: 2px solid if($theme == 'dark', white, black);
        color: if($theme == 'dark', white, black);
        &[type='date']::-webkit-calendar-picker-indicator {
          color-scheme: if($theme == 'dark', dark, light);
        }
      }
    }
  }
}
@each $theme in ('dark', 'light') {
  @include applyThemes($theme) {
    @include contactModal-theme($theme);
  }
}

// STYLES ----------------------------------------

#contactFormModal {
  -webkit-appearance: none;
  appearance: none;
  z-index: 3000;
  position: fixed;
  width: 100dvw;
  height: 100dvh;

  display: flex;
  align-items: center;
  flex-grow: 1;

  // background-color: $background-color-card;
  font-weight: 700;
  backdrop-filter: blur(5px);

  form {
    z-index: 3001;
    display: flex;
    flex-direction: column;
    width: 40dvw;
    max-height: 90dvh;
    padding: 50px;
    gap: 10px;
    align-items: center;
    
    overflow-y: auto;

    // background-color: $background-color-card;
    backdrop-filter: blur(2px);
    // border: 2px solid white;
    border-radius: 20px;

    position: relative;
    @include autoCenter;
    
    input, label, button {
      width: 90%;
    }

    label {
      text-align: start;
      font-size: 1.5em;
    }

    input {
      margin-bottom: 15px;
      padding: 8px 5px;
      font-size: 1em;
      background-color: transparent;
      &:focus {
        border: none;
        outline: none;
        border-bottom: 2px solid blue;
      }
      &:active {
        outline: none;
      }
    }

    button {
      @include navButtons(white);
      background-color: $modal-done-button-color;
      border: 0;
      color: white;
      margin: 10px 0;
      &:disabled {
        background-color: rgba(33, 72, 245, 0.075);
      }
      &:focus {
        border: none;
        outline: 3px solid blue;
      }
      &:active {
        border: none;
        outline: 3px solid blue;
      }
    }
    
    .closeModalButton {
      background-color: $modal-close-button-color;

    }
    
  }
}



@include media-query-first-breakpoint {

  #contactFormModal {
    form {
      width: 60dvw;
    }
  }
}

@include media-query-second-breakpoint {
  #contactFormModal {
    form {
      width: 70dvw;
    }
  }
}
