// MIXINS THEMES

@mixin forecastWeather-theme ($theme: 'dark') {
  #forecastContainer {
    $card: if($theme == 'dark',
      $background-color-card-dark,
      $background-color-card-light);
    @include cardStyle($card);
    margin-bottom: 40px;
    #forecastList {
      li {
        border: 1px solid if($theme == 'dark', white, black);
      }
    }
  }
}

@each $theme in ('dark', 'light') {
  @include applyThemes($theme) {
    @include forecastWeather-theme($theme);
  }
}

// STYLES

#forecastContainer {
  margin-bottom: 40px;

  h3 {
    margin-top: 0;
  }

  #forecastList {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 15px;
    overflow-x: scroll;
    max-width: 90%;
    flex-shrink: 1;
  
    li {
      padding: 10px;
      min-width: 50px;
      position: relative;
      border-radius: 15px;
      margin-bottom: 20px;
      cursor: pointer;
      
      b {
        font-size: 0.9em;
      }
  
      img {
        margin: 4px auto;
        max-width: 40px;
        @include imgShadow
      }
  
      div {
        display: flex;
        flex-direction: column;
  
        span {
          font-size: 1.5em;
          font-weight: 600;
        }
      }

      
    }
  }
  &.noOpacity {
    @include noOpacity
  }
}
