#headerLogo {
  position: relative;
  height: 100%;
  @include flexConfig(row, center, center, 10px);
  font-style: italic;
  text-decoration: underline #3d3dff;
  img {
    width: 50px;
  }
}

@include media-query-second-breakpoint {
  #headerLogo {
    font-size: 0.8em;
    gap: 5px;
    img {
      width: 35px;
    }
  }
}
