@mixin dark-theme {
  .langSwitch {
    background-color: black; // rgba(184, 182, 182, 0.9);
    border: 2px solid white;
  }
}

@mixin light-theme {
  .langSwitch {
    background-color: white; // rgba(184, 182, 182, 0.9);
    border: 2px solid black;
  }
}

@media (prefers-color-scheme: light) {
  @include light-theme
}
@media (prefers-color-scheme: dark) {
  @include dark-theme
}

[data-theme='light'] {
  @include light-theme
}

[data-theme='dark'] {
  @include dark-theme;
}

.langSwitch {
  margin-bottom: 10px;
  width: 65px;
  display: flex;
  justify-content: flex-end;
  border-radius: 5px;
  padding: 4px 8px;
  cursor: pointer;
  &:focus {
    outline: 2px solid blue;
  }

  .langHandle {
    width: 35px;
    height: 35px;
    background-image: url('/assets/esp.svg');
    background-size: cover;
    border-radius: 5px;
    transition: background-image 0.2s;
  }

  &[data-is-en="true"] {
    justify-content: flex-start;
    .langHandle {
      background-image: url('/assets/eng.svg');
      transition: background-image 0.2s;
    }
  }
}
