@mixin langSwitch-theme ($theme: 'dark') {
  $is-dark: if($theme == 'dark', true, false);
  .langSwitch {
    background-color: 
      if($is-dark,
        $background-color-config-elements-dark,
        $background-color-config-elements-light);
    border: 2px solid if($is-dark, white, black);
  }
}

@each $theme in ('dark', 'light') {
  @include applyThemes($theme) {
    @include langSwitch-theme($theme);
  }
}

.langSwitch {
  margin-bottom: 10px;
  width: 65px;
  display: flex;
  justify-content: flex-end;
  border-radius: 5px;
  padding: 4px 8px;
  cursor: pointer;
  &:focus {
    outline: 2px solid blue;
  }

  .langHandle {
    width: 35px;
    height: 35px;
    background-image: url('/assets/buttons/esp.svg');
    background-size: cover;
    border-radius: 5px;
    transition: background-image 0.2s;
  }

  &[data-is-en="true"] {
    justify-content: flex-start;
    .langHandle {
      background-image: url('/assets/buttons/eng.svg');
      transition: background-image 0.2s;
    }
  }
}
