#loadingMessage {
  z-index: 6000;
  position: fixed;
  @include flexConfig(column, center, center);
  width: 100dvw;
  height: 100dvh;
  div {
    padding: 50px;
    background-color: darkgray;
    border-radius: 7px;
    @include imgShadow
  }
  h1 {
    padding: 30px;
    margin: 0;
  }
  img {
    width: 100px;
  }
}
