// MIXINS THEMES

@mixin navComponents-theme ($theme: 'dark') {
  #cities {
    button {
      @include navButtons(if($theme == 'dark', white, black));
    }
    .cityActive {
      background-color: if($theme == 'dark', black, rgb(177, 236, 235));
    }
  }
  
  .openModalButton {
    @include navButtons(if($theme == 'dark', white, black));
    margin:  10px auto;
    max-width: 160px;
  }
}

@each $theme in ('dark', 'light') {
  @include applyThemes($theme) {
    @include navComponents-theme($theme);
  }
}

// STYLES ----------------------------------------------

#cities {
  list-style: none;
  margin: 0 20px 5px 20px;
  padding: 0;
  text-align: start;
}

.openMenu {
  transform: translateX(0);
}
