// THEMES

@mixin swal2-theme ($theme: 'dark') {
  $is-dark: if($theme == 'dark', true, false);
  
  .swal2-container {
    .swal2-popup {
      outline: 2px solid if($is-dark, white, black);
      background-color: if($is-dark, black, white);
      color: if($is-dark, white, black);
    } 
  }
}

@each $theme in ('dark', 'light') {
  @include applyThemes($theme) {
    @include swal2-theme($theme);
  }
}

// STYLES ------------------------------------------------

.swal2-container {
  z-index: 6001;
  
  button {
    font-weight: 600;
    font-size: 1.2em;
  }
}
