// MIXINS THEMES


@mixin light-theme {
  .swal2-container {
    .swal2-popup {
      outline: 2px solid black;
      background-color: white;
      color: black;
    } 
  }
}
@mixin dark-theme {
  .swal2-container {
    .swal2-popup {
      outline: 2px solid white;
      background-color: black;
      color: white;
    } 
  }
}

@media (prefers-color-scheme: light) {
  @include light-theme
}
@media (prefers-color-scheme: dark) {
  @include dark-theme
}

[data-theme='light'] {
  @include light-theme
}

[data-theme='dark'] {
  @include dark-theme;
}

// STYLES ------------------------------------------------

.swal2-container {
  z-index: 4000;
  
  button {
    font-weight: 600;
    font-size: 1.2em;
  }
}

