// THEMES ------------------------------------

@mixin weatherMain-theme ($theme: 'dark') {
  .frontDate {
    @include textBorder(if($theme == 'dark', black, white));
  }

  #weatherMain {
    $card: if($theme == 'dark', $background-color-card-dark, $background-color-card-light);
    @include cardStyle($card);
    #weatherDetails {
      li {
        .detailsSVG {
          filter: if($theme == 'dark', invert(1), invert(0));
        }
      }
    }
  }
}

@each $theme in ('dark', 'light') {
  @include applyThemes($theme) {
    @include weatherMain-theme($theme);
  }
}

// STYLES -------------------------------------

#weatherMain {

  .weatherTemp {
    font-size: 5em;
    line-height: 1;
  }

  .weatherDescriptionContainer {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100% ;
    
    img {
      width: 50px;
      @include imgShadow;
    }
  }
  #weatherDescription {
    font-size: 2em;
    margin-top: 0;
  }

  #weatherDetails {
    margin-top: 40px;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    padding: 0;
  
    li {
      border-radius: 10%;
      padding: 8px;
      display: flex;
      flex-direction: column;
      width: 110px;
      text-wrap: wrap;
      text-align: center;
      
      b {
        font-size: 1em;
      }
  
      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
      }
  
      span {
        font-size: 1.5em;
        font-weight: 700;
      }

      .detailsSVG {
        margin: auto;
        margin-bottom: 10px;
        max-width: 30px;
        // filter: invert(1);
      }
    }
  }
  &.noOpacity {
    @include noOpacity
  }
}






// RESPONSIVENES

@include media-query-second-breakpoint {
  #weatherMain {
    #weatherDetails {
      margin-top: 40px;
      
      li {
        width: 90px;
        flex-direction: row;
        gap: 20px;

        b {
          display: none;
        }

        .detailsSVG {
          margin: 0;
        }
      }
    }
  }
}
