@import url(colors.css);

#root {
  margin: 0 auto;
  text-align: center;
  height: 100dvh;
  width: 100%;
}

#langButtonsContainer {
  display: flex;
  gap: 2px;
  position: fixed;
  right: 4px;
  top: 4px;
}

.langActive,
.cityActive {
  color: var(--enfasis-text-color-dark);
}

#langButton {
  padding: 3px 7px;
  background-color: var(--lang-button-background-dark);


  &:hover {
    border-color: var(--enfasis-text-color-dark);
  }
}

#cities {
  list-style: none;
  margin: 0 20px 5px 20px;
  padding: 0;
  text-align: start;

  button {
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    padding: 0;
    font-size: 1.5em;
    font-weight: normal;
    font-family: inherit;
    cursor: pointer;
    transition: none;
    margin: 10px;

    &:hover {
      color: var(--enfasis-text-color-dark);
    }
  }
}

#contactForm {
  margin: 10px 30px;


  summary {
    text-align: start;
    font-size: 1.5em;
    list-style: none;
    cursor: pointer;

    &:hover {
      color: var(--enfasis-text-color-dark);
    }
  }

  form {
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 120px;

    input {
      margin-bottom: 5px;
      padding: 5px;
      border: 2px solid gray;
      border-radius: 4px;
    }

    label {
      text-align: start;
      margin-top: 5px;
    }
  }

  button {
    margin-top: 5px;
    background-color: var(--form-button-dark);

    &:hover {
      border-color: var(--enfasis-text-color-dark);
    }
  }

}

#contactForm button:disabled {
  background-color: var(--nav-background-color-dark);
}

#weatherMain {
  opacity: 0;
  transform: translateY(-8px);
}

#weatherDetails {
  opacity: 0;
  transform: translateY(-8px);
  margin: 20px 20px 40px 20px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;

  li {
    position: relative;
    border-radius: 10%;
    padding: 8px;
    display: flex;
    flex-direction: column;
    width: 110px;
    text-wrap: wrap;

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
    }

    span {
      color: var(--enfasis-text-color-dark);
      font-size: 1.2em;
    }
  }

}

.detailsSVG {
  position: absolute;
  left: 50%;
  top: 40px;
  max-width: 40px;
  opacity: 0.2;
  filter: invert(1);
}

#weatherDescription {
  font-size: 2em;
  margin-top: 0;
  color: var(--enfasis-text-color-dark);
}

#forecastContainer {
  opacity: 0;
  transform: translateY(-8px);
}

#forecastList {
  /* opacity: 0;
  transform: translateY(-8px); */
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 15px;
  overflow-x: scroll;
  max-width: 90%;

  li {
    padding: 10px;
    min-width: 100px;
    position: relative;

    img {
      margin: auto;
      max-width: 50px;
    }

    div {
      display: flex;
      flex-direction: column;

      span {
        color: var(--enfasis-text-color-dark);
      }
    }
  }
}

.forecastArrow {
  position: absolute;
  top: 50%;
  left: 100%;
  font-size: 1.5em;
}

#weatherMain.noOpacity,
#weatherDetails.noOpacity,
#forecastContainer.noOpacity {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.3s ease;
}

#menuButton {
  padding: 0;
  position: fixed;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 25px;
  background: transparent;
  border: none;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  z-index: 1001;
}

#menuButton span {
  display: block;
  width: 42px;
  height: 4px;
  background-color: var(--menu-button-dark);
  border-radius: 2px;
  transition: all 0.3s ease;
}

#menuButton.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

#menuButton.open span:nth-child(2) {
  opacity: 0;
}

#menuButton.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.openMenu {
  transform: translateX(0px)
}

.errorAlert {
  background-color: red;
  padding: 20px 60px;
  font-size: 2em;
  font-weight: bolder;
  border-radius: 10px;
  margin: 20px 40px;
}

@media (prefers-color-scheme: light) {

  .langActive,
  .cityActive,
  #weatherDescription,
  #weatherDetails li span,
  #forecastList li div span,
  #cities button:hover,
  #contactForm summary:hover {
    color: var(--enfasis-text-color-light);
  }

  .detailsSVG {
    filter: none;
    opacity: 0.1;
  }

  #langButton {
    background-color: var(--lang-button-background-light);

    &:hover {
      border-color: var(--enfasis-text-color-light);
    }
  }

  #menuButton span {
    background-color: var(--menu-button-light);
  }

  #contactForm button {
    background-color: var(--form-button-light);

    &:hover {
      border-color: var(--enfasis-text-color-light);
    }
  }

  #contactForm button:disabled {
    background-color: var(--nav-background-color-light);
  }
}

@media (max-width: 730px) {
  #menuButton {
    display: flex;
  }

  #weatherDetails {
    margin: 5px 5px 40px 5px;

    li {
      width: 90px;
    }
  }
}
