@import url(colors.css);

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(255, 255, 255);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

body {
  margin: 0;
  place-items: center;
  width: 100%;
  height: 100%;
}

main {
  width: 100vw;
  height: 100%;
  display: grid;
  grid-template-columns: 200px 1fr;
}

nav {
  background-color: var(--nav-background-color-dark);
  grid-column: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100dvh;
  position: fixed;
  width: 200px;
  z-index: 100;
  transition: transform 0.3s ease;
}

article {
  margin: auto;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: calc(100dvw - 200px);
}

section {
  max-width: 90%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 20px 5px;
  color: var(--enfasis-text-color-dark);
  text-shadow: 2px 2px 1px var(--shadow-title-dark);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

img {
  transform: scale(1.5);
}

@media (prefers-color-scheme: light) {
  :root {
    color: black;
    background-color: var(--background-color-light);
  }
  
  nav {
    background-color: var(--nav-background-color-light);
  }
  
  h1 {
    color: var(--enfasis-text-color-light);
    text-shadow: 2px 2px 1px var(--shadow-title-light);
  }
}

@media (max-width: 730px) {
  main {
    display: block;
  }
  
  nav {
    transform: translateX(-220px);
  }
  
  article {
    max-width: 75dvw;
  }
}
