@import 'variables';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgb(255, 255, 255);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 20px 5px;
  color: $enfasis-text-color-dark;
  text-shadow: 2px 2px 1px $shadow-title-dark;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

img {
  transform: scale(1.5);
}

@include prefers-color-scheme(light) {
  :root {
    color: black;
    background-color: $background-color-light;
  }

  h1 {
    color: $enfasis-text-color-light;
    text-shadow: 2px 2px 1px $shadow-title-light;
  }
}
