body {
  margin: 0;
  // background-image: url('../assets/new_cities/new_york/cloudy.jpg');
  background-size: cover;
  overflow-x: hidden;
}

main {
  width: 100vw;
  min-height: 100dvh;
  height: 100%;
  display: grid;
  grid-template-columns: 200px 1fr;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  transition: background-image 0.3s ease
}

header {
  @include backgroundNav;
  z-index: 1002;
  // background-color: $nav-background-color-dark;
  position: fixed;
  top: 0;
  width: 100dvw;
  height: max-content;
  text-align: start;
  display: flex;
  align-items: center;
  justify-content: end;

  h2 {
    margin: 10px 20px;
  }
}

nav {
  // background-color: $nav-background-color-dark;
  @include backgroundNav;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100dvh;
  position: fixed;
  top: 63px;
  width: 200px;
  z-index: 100;
  @include transition(transform);
}

article {
  margin: auto;
  margin-top: 90px;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: calc(100dvw - 200px);
}

section {
  width: 100%;
}

@include media-query(1100px) {
  main {
    display: inline-block;
  }

  nav {
    transform: translateX(-220px);
  }

  article {
    max-width: 90dvw;
  }
}

@include prefers-color-scheme(light) {
  nav, header {
    background-color: $background-color-card-light;
  }
}
