body {
  margin: 0;
  // background-image: url('../assets/new_cities/new_york/cloudy.jpg');
  background-size: cover;
}

main {
  width: 100vw;
  height: 100%;
  display: grid;
  grid-template-columns: 200px 1fr;
}

header {
  z-index: 1002;
  background-color: $nav-background-color-dark;
  position: fixed;
  width: 100dvw;
  height: max-content;
  text-align: start;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h2 {
    margin: 10px 20px;
  }
}

nav {
  background-color: $nav-background-color-dark;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100dvh;
  position: fixed;
  width: 200px;
  z-index: 100;
  @include transition(transform);
}

article {
  margin: auto;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: calc(100dvw - 200px);
}

section {
  max-width: 90%;
}

@include media-query(730px) {
  main {
    display: block;
  }

  nav {
    transform: translateX(-220px);
  }

  article {
    max-width: 75dvw;
  }
}

@include prefers-color-scheme(light) {
  nav {
    background-color: $nav-background-color-light;
  }
}
