@mixin transition($property, $duration: 0.3s, $ease: ease) {
  transition: $property $duration $ease;
}

@mixin backgroundNav {
  background-color: $background-color-card;
  backdrop-filter: blur(20px);
}

@mixin cardStyle($color) {
  background-color: $color;
  backdrop-filter: blur(4px);
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgb(93, 93, 97);
  padding: 30px;
  max-width: 710px;
  opacity: 0;
  transform: translateY(-8px);
  margin: auto;
}

@mixin navButtons ($color) {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid $color;
  border-radius: 10px;
  padding: 2px 0;
  width: 100% ;
  font-size: 1.5em;
  font-weight: normal;
  font-family: inherit;
  cursor: pointer;
  margin: 10px 0;
}

@mixin shine($color) {
  box-shadow: 0 0 10px $color, 0 0 10px $color, 0 0 10px $color;
}
@mixin textShine($color) {
  text-shadow: 0 0 10px $color, 0 0 10px $color, 0 0 10px $color;
}

@mixin hover-border-color($color) {
  &:hover {
    border-color: $color;
  }
}

@mixin hover-color($color) {
  &:hover {
    color: $color;
  }
}

@mixin media-query($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

@mixin prefers-color-scheme($scheme) {
  @media (prefers-color-scheme: $scheme) {
    @content;
  }
}
