@mixin transition($property, $duration: 0.3s, $ease: ease) {
  transition: $property $duration $ease;
}

@mixin backgroundNav {
  background-color: $background-color-card;
  backdrop-filter: blur(20px);
}

@mixin shine($color) {
  box-shadow: 0 0 10px $color, 0 0 10px $color, 0 0 10px $color;
}
@mixin textShine($color) {
  text-shadow: 0 0 10px $color, 0 0 10px $color, 0 0 10px $color;
}

@mixin hover-border-color($color) {
  &:hover {
    border-color: $color;
  }
}

@mixin hover-color($color) {
  &:hover {
    color: $color;
  }
}

@mixin media-query($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

@mixin prefers-color-scheme($scheme) {
  @media (prefers-color-scheme: $scheme) {
    @content;
  }
}
