// Dark Mode Colors
$background-color-card-dark: rgba(49, 49, 49, 0.664);
$background-color-config-dark: rgba(128, 128, 128, 0.950);
$background-color-config-elements-dark: rgb(51, 51, 51);
$webkit-scrollbar-thumb-dark: rgba(255, 255, 255, 0.582);

// Light Mode Colors
$background-color-card-light: rgba(216, 228, 255, 0.664);
$background-color-config-light: rgba(238, 243, 255, 0.950);
$background-color-config-elements-light: rgba(220, 226, 238, 0.95);
$webkit-scrollbar-thumb-light: rgb(51, 51, 51);