// Dark Mode Colors
$background-color-card-dark: rgba(49, 49, 49, 0.664);
$background-color-config-dark: rgba(128, 128, 128, 0.950);

// Light Mode Colors
$background-color-card-light: rgba(238, 243, 255, 0.664);
$background-color-config-light: rgba(238, 243, 255, 0.950);
